.card {
  background-color: inherit !important;
  color: white !important;
  padding: 1rem !important;
  border: 1px solid lightgrey !important;

  .card-body {
    padding: 1rem 0 0 0 !important;
  }
}